body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: wheat;
}

#calc-body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    border: 5px solid gray;
    max-width: 300px;
}

#display {
    background-color: wheat;
    border: 5px solid lightgray;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.btns {
    display: flex;
}

.non-ops {
    display: flex;
    flex-direction: column;
}

#extra-btns,
#button-nos {
    display: flex;
    max-width: 204px;
    flex-wrap: wrap;
}

.button {
    background-color: orange;
    width: 60px;
    height: 60px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
}

.button:active {
    background-color: darkorange;
}

.button.ops {
    background-color: darkorange;
}

.button.dp {
    background-color: orange;
}

.zero{
    width: 128px;
}